{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}ورود{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">صفحه ورود</h2>
    <hr />

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-100 btn btn-primary mt-3" type="submit">ورود</button>
    </form>
</div>
<a class="d-block text-center mt-1" href="{% url 'users:password_reset' %}">رمزعبور خود را فراموش کرده‌اید؟</a>
<p class="text-muted text-center mt-1">حساب کاربری ندارید؟ <span><a href="{% url 'users:signup' %}">ثبت‌نام کنید!</a></span></p>
{% endblock %}
