{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}سیستم رزرو تایم{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block style %}{% endblock %}
</head>
<body class="h-100">
    {% include 'header.html' %}
    <div class="container h-100 mt-5">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.querySelector('.tagify-input');
            if (input) {
                new Tagify(input, {
                    delimiter: ',',
                    enforceWhitelist: false,
                    duplicates: false,
                    dropdown: {
                        enabled: 1
                    },
                });
            }
        });
    </script>
</body>
</html>
