{% extends 'base.html' %}

{% block title %}خانه{% endblock %}

{% block content %}
    <div class="container h-100 mt-5">
        <div class="card h-100 shadow-lg p-4">
            <div id="title" class="mb-4">
                <h1 class="text-center">به صفحه اصلی خوش اومدید!</h1>
                <h5 class="text-center text-muted">ولی متاسفانه اینجا نذری نمی‌دن :ـ)</h5>
            </div>

            <div class="h-100">
                <div class="row">
                    <p class="px-3 text-center">
                        این وبسایت برای تسهیل مدیریت کلاس‌ها و زمان‌بندی ارائه‌ها طراحی شده. هدف از این پروژه اینه که فرآیند هماهنگی تایم‌های ارائه دانشجویان به ساده‌ترین شکل ممکن انجام بشه و از اتلاف وقت جلوگیری بشه.
                        اگه دانشجو هستید، می‌تونید فرم‌هایی که لینکشون توسط TAها در اختیارتون قرار می‌گیره رو باز کنید و زمان ارائه خودتون رو رزرو کنید. اگه هم TA هستید، ابزارهایی برای مشاهده و مدیریت زمان‌بندی‌ها در اختیار شما قرار داده شده که با ثبت‌نام و ورود به حساب کاربری‌تون می‌تونید ازشون استفاده کنید!
                    </p>
                    <p class="px-3 text-center text-muted small">
                        متن بالا رو از دوست خوبم، ChatGPT گرفتم :) اما ایده خوبیه احتمالا بعدا همین بستر رو دراختیار باقی TA ها هم قرار بدم تا ازش استفاده کنن =)))
                    </p>
                    {% if request.user.is_admin %}
                        <div class="col-md-12">
                            <div class="card mb-4 shadow-sm">
                                <a href="{% url 'form:list' %}" class="btn btn-primary py-3">فرم‌های من</a>
                            </div>
                        </div>
                        {% if request.user.is_staff %}
                        <div class="col-md-12">
                            <div class="card mb-4 shadow-sm">
                                <a href="/admin/" class="btn btn-primary py-3">پنل ادمین</a>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="badge bg-danger py-3 opacity-75" disabled>برای استفاده از سایر قسمت‌ها
                            <a href="{% url 'users:login' %}" style="color: black;">وارد</a>
                            حساب کاربری خود شوید :)</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
