{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between my-3">
    <h1 class="m-0">زمان‌های رزرو شده برای فرم «{{ form.name }}»</h1>
    <a href="{% url 'form:detail' form.slug %}" class="me-3">
        <u>بازگشت</u>
    </a>
</div>
{% if booked_slots %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>زمان</th>
                <th>نام دانشجو</th>
                <th>کد دانشجویی</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in booked_slots %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ slot.datetime }}</td>
                    <td>{{ slot.answer.first_name }} {{ slot.answer.last_name }}</td>
                    <td>{{ slot.answer.student_id }}</td>
                    <td>
                        <a href="{% url 'form:delete-answer' slot.answer.id %}" class="btn btn-danger">
                            حذف
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>هیچ زمان رزرو شده‌ای وجود ندارد.</p>
{% endif %}
{% endblock %}
