{% extends 'base.html' %}

{% block title %}جزئیات فرم - {{ form.name }}{% endblock %}

{% block content %}
    <div class="card shadow p-4">
        <h1 class="text-center mb-4">«{{ form.name }}»</h1>

        <div class="mb-4">
            <h5>اطلاعات فرم:</h5>
            <ul class="list-group col-12">
                {% if form.course_name %}
                    <li class="list-group-item">
                        <strong>نام درس:</strong> {{ form.course_name }}
                    </li>
                {% endif %}
                {% if form.professor_name %}
                    <li class="list-group-item">
                        <strong>نام استاد:</strong> {{ form.professor_name }}
                    </li>
                {% endif %}
                {% if form.year %}
                    <li class="list-group-item">
                        <strong>سال تحصیلی:</strong> {{ form.year }}
                    </li>
                {% endif %}
                {% if form.semester %}
                    <li class="list-group-item">
                        <strong>ترم:</strong>
                        {{ form.get_semester_display }}
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 flex-column flex-md-row gap-2">
            <h3 class="w-100 m-0">زمان‌های موجود برای رزرو</h3>
            {% if user == form.created_by %}
            <div class="w-100 d-flex flex-column flex-sm-row align-items-start gap-2">
                <a href="{% url 'form:update' form.slug %}" class="w-100 btn btn-warning">
                    ویرایش فرم
                </a>
                <a href="{% url 'form:add-time-slots' form.id %}" class="w-100 btn btn-success">
                    افزودن زمان
                </a>
                <a href="{% url 'form:answers' form.slug %}" class="w-100 btn btn-primary">
                    رزروها
                </a>
            </div>
            {% endif %}
        </div>

        <ul class="list-group">
            {% for slot in time_slots %}
                <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                    <span>{{ slot.datetime }}</span>
                    {% if slot.answer %}
                        <button class="btn btn-danger" disabled>رزرو شده</button>
                    {% elif slot.is_passed %}
                        <button class="btn btn-secondary" disabled>منفضی شده</button>
                    {% else %}
                        <div id="buttons" class="d-flex flex-sm-row flex-column gap-1">
                            <a href="{% url 'form:book-time-slot' form.slug slot.id %}" class="w-100 btn btn-primary">رزرو</a>
                            {% if user == form.created_by %}
                                <a href="{% url 'form:delete-time-slot' form.slug slot.id %}" class="w-100 btn btn-danger">حذف</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p class="w-100 text-muted text-center fst-italic mt-3">زمانی برای این فرم «<b>{{ form.name }}</b>» تعریف نشده‌است</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
