{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}فرم‌های موجود{% endblock %}

{% block style %}
    <style>
        a.wrapper:hover div.card {
            background-color: rgba(21, 21, 21, 0.6);
            color: #f8f9fa;
            transition: background-color ease-in-out 0.15s;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card shadow p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-center mb-0">فرم‌های موجود</h1>

            <div class="buttons">
                <div id="openButton" class="btn btn-primary" title="فیلتر کردن فرم‌ها">
                    <i class="bi bi-funnel"></i>
                </div>
                <a href="{% url 'form:create' %}" class="btn btn-success" title="ایجاد فرم جدید">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
        </div>

    <!-- Filter Form Modal -->
    <div id="Modal" class="modal" style="display: none;">
        <div class="modal-backdrop" style="z-index: 5"></div>
        <div class="others w-75 px-5 py-4 bg-white rounded" style="z-index: 10">
            <div id="closeButton" style="position: relative;left: -30px;float: inline-end;cursor: pointer;top: -5px;">
                <i class="bi bi-x-lg"></i>
            </div>
            <form method="GET">
                {{ filter.form|crispy }}
                <button type="submit" class="btn btn-primary">فیلتر کن</button>
                <a href="{% url 'form:list' %}" class="btn btn-danger text-decoration-none">حذف فیلتر</a>
            </form>
        </div>
    </div>


        <ul class="row row-cols-1 g-2">
            {% for form in forms %}
                <div class="col">
                    <a href="{% url 'form:detail' form.slug %}" class="wrapper text-decoration-none text-black bg-dark">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                        {{ form.name }}
                                </h5>
                                <p class="card-text small mb-0">درس: {{ form.course_name }} ({{ form.professor_name }})</p>
                                <p class="card-text small mb-0">سال تحصیلی <span class="persian">{{ form.year }}</span>: {{ form.get_semester_display }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <div class="col">
                    <div class="card h-100 text-center text-muted">
                        <div class="card-body">
                            <p>فرمی برای نمایش وجود ندارد.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>

        <!-- Pagination links styled with Bootstrap -->
        <nav aria-label="pagination-navigation" dir="ltr">
            <ul class="pagination d-flex justify-content-center">
                {% if page_obj.has_previous %}
                    {% if page_obj.number > 2 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span class="persian">1</span>
                            </a>
                        </li>

                        {% if page_obj.number > 3 %}
                        <li class="page-item">
                            <span aria-hidden="true" class="page-link">...</span>
                        </li>
                        {% endif %}
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span class="persian" aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <span aria-hidden="true" class="page-link bg-primary text-white persian">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span class="persian" aria-hidden="true">{{ page_obj.next_page_number }}</span>
                        </a>
                    </li>
                    {% if page_obj.number|add:1 < page_obj.paginator.num_pages %}
                        {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}
                            <li class="page-item">
                                <span aria-hidden="true" class="page-link">...</span>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span class="persian">{{ page_obj.paginator.num_pages }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

    </div>

    <script>
        document.getElementById('openButton').addEventListener('click', () => {
            const modal = document.getElementById('Modal');
            modal.style.display = 'flex';
        });

        document.getElementById('closeButton').addEventListener('click', () => {
            const modal = document.getElementById('Modal');
            modal.style.display = 'none';
        });

    </script>
{% endblock %}

