{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <div class="alert alert-success" role="alert">
        <h1 class="display-4">رزرو شما با موفقیت انجام شد!</h1>
        <p class="lead mt-3">از اینکه زمان خود را با ما تنظیم کردید متشکریم.</p>
        <p class="mt-3">ایمیل خود را جهت دریافت تاییدیه رزرو چک کنید :)</p>
        <hr>
        <p class="mt-4">
            <a href="{% url 'form:detail' slug %}" class="btn btn-primary btn-lg">بازگشت به فرم‌</a>
        </p>
    </div>
</div>
{% endblock %}
