{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}افزودن زمان جدید{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h1 class="text-center mb-4">افزودن زمان جدید برای فرم "{{ obj.name }}"</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="small text-center text-muted fst-italic">(جهت پیدا کردن تاریخ میلادی روز مورد نظر خود می‌توانید از
            <a href="https://www.time.ir/" target="_blank">time.ir</a>
            و یا
            <a href="https://www.bahesab.ir/time/conversion/" target="_blank">baheshab.ir</a>
            استفاده کنید :)
        </p>
        <button type="submit" class="btn btn-primary">افزودن</button>
        <a href="{% url 'form:detail' obj.slug %}" class="btn btn-danger">لغو</a>
    </form>
</div>
{% endblock %}
