body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f8f9fa;
    direction: rtl; /* Right-to-left layout for Persian */
    text-align: right;
    margin: 20px;
    padding: 20px;
    color: #333;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

h1, h2 {
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
}

